{% extends 'base.html' %}

{% load static %}

{% block herencia %}
  
<form action="{% url 'cafecreate' %}" method="post" enctype="multipart/form-data">
  {% csrf_token %}
  <div class="form-group">
    <label for="{{ form.nombre.id_for_label }}">Nombre:</label>
    {{ form.nombre }}
  </div>
  <div class="form-group">
    <label for="{{ form.tostado.id_for_label }}">Tostado:</label>
    {{ form.tostado }}
  </div>
  <div class="form-group">
    <label for="{{ form.grano.id_for_label }}">Grano:</label>
    {{ form.grano }}
  </div>
  <div class="form-group">
    <label for="{{ form.cantidad_kg.id_for_label }}">Cantidad en Kg:</label>
    {{ form.cantidad_kg }}
  </div>
  <div class="form-group">
    <label for="{{ form.imagen.id_for_label }}">Imagen:</label>
    {{ form.imagen }}
  </div>
  <button type="submit">Enviar</button>
</form>


{% endblock herencia %}