{% extends 'base.html' %}

{% load static %}

{% block herencia %}
  
<header class="bs-primary" style="background-color: #13356d; py-5">
    <div class="container">
      <div class="row justify-content-center align-items-center">
        <div class="col-md-8 col-lg-6 text-center">
          <h1 class="display-4 text-white mb-3" style="text-shadow: 2px 2px 4px #000000; -webkit-text-stroke-width: 1px; -webkit-text-stroke-color: #ffffff;">Usuario no autorizado</h1>
          <p class="lead text-white mb-4" style="text-shadow: 1px 1px 2px #000000;"></p>
        </div>
      </div>
    </div>
  </header>


{% endblock herencia %}